* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif; 
}
body{
    background: #fff;
    color:#202124;
}

section{
    display: grid;
    grid-template-areas: 
    "nav-top nav-top nav-top nav-top"
    "image-wrap image-wrap image-wrap image-wrap"
    "Search Search Search Search"
    "lang lang lang lang"
    "footer footer footer footer";
    box-sizing: border-box;
    min-height: 100vh;
}
.nav-top{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    top: 0;
    width: 100%;
    padding: 10px;
    height: 48px;
}

.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}

.nav-links{
    list-style: none;
    margin-left: 10px;
}

.nav-links a{
    color:#202124;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
}

.nav-links a:hover{
    border-bottom: 1px solid #222;
    cursor: pointer;
}

.nav-links img{
    width: 48px;
    padding: 4px;
}

.nav-links > button{
    background: rgb(41, 112, 204);
    border: none;
    outline: none;
    padding: 6px 14px ;
    color: white;
}

.nav-links > button:hover{
    background: rgb(27, 94, 182);
}

main {
    align-items: center;
    width: 100%;
}

.image-wrap{
    justify-content: center;
    width: 100%;
}
.image-wrap img{
    height: 100%;
    max-height: 92px;

}

form{
    position: relative;
    width: 100%;
    justify-content: center;
}

.form-buttons{

}

.searchBar{
    padding-top: 6px;
    width: auto;
    max-width: 584px;
}